.Rproj.user
.Rhistory
.RData
.DS_Store

Readme.html
dat/csv/*.csv
dat/*.RData
dat/.DS_Store

Pweave/FIR_design_pygments/*.pdf
Pweave/tryPweaveExample/*.pdf
Pweave/tryPweaveExample/.ipynb_checkpoints/*
figure/*

R/*.pdf
R/.DS_Store

Sweave/inc/.DS_Store
Sweave/.DS_Store
Sweave/*.log
Sweave/*.aux
Sweave/*.out
Sweave/*.nav
Sweave/*.pdf
Sweave/*.snm
Sweave/*.synctex.gz
Sweave/*.tex
Sweave/*.toc
